<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portfolio</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Epilogue:wght@400;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'css/style.min.css' %}" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{% static 'apple-touch-icon.png' %}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{% static 'favicon-32x32.png' %}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{% static 'favicon-16x16.png' %}"
    />
    <link rel="stylesheet" href="{% static 'site.webmanifest' %}" />
  </head>
  <body>
    <div id="loader">
      <button
        type="button"
        class="bg-primary-700 hover:bg-primary-400 inline-flex cursor-not-allowed items-center rounded-md px-4 py-2 text-sm font-semibold leading-6 text-white shadow transition duration-150 ease-in-out"
        disabled=""
      >
        <svg
          class="-ml-1 mr-3 h-5 w-5 animate-spin text-white"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
            data-darkreader-inline-stroke=""
            style="--darkreader-inline-stroke: currentColor"
          ></circle>
          <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
            data-darkreader-inline-fill=""
            style="--darkreader-inline-fill: currentColor"
          ></path>
        </svg>
        Processing...
      </button>
    </div>

    {% include 'partials/header.html' %}

    <main>{% block content %}{% endblock content %}</main>

    {% include 'partials/footer.html' %}

    <script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
  </body>
</html>
