{% extends 'layouts/main.html' %} {% load static %}

<!---->

{% block content %}
<section class="py-10">
  <div class="container mx-auto px-4">
    <div class="flex flex-col-reverse sm:flex-row md:items-center md:space-x-8">
      <div class="md:w-1/2">
        <h1
          class="mb-6 text-3xl font-extrabold leading-tight md:text-4xl lg:text-6xl xl:text-7xl"
        >
          I help build your dream project
        </h1>
        <p class="mb-9 text-sm md:text-base">
          Agency provides a full service range including technical skills,
          design, business understanding.
        </p>
        <div class="flex items-center space-x-8">
          <a
            href="{% url 'home' %}"
            class="bg-primary-700 hover:bg-primary-500 block rounded-md px-6 py-4 font-semibold leading-6 text-white shadow-md duration-100 ease-in"
          >
            Download CV
          </a>
          <a href="{% url 'contact' %}" class="inline-block">Contact Me</a>
        </div>
      </div>
      <div class="md:w-1/2">
        <img src="{% static 'image/intro.png' %}" alt="" width="570" />
      </div>
    </div>
  </div>
</section>
<section class="py-10">
  <div class="container mx-auto px-4">
    <div class="mb-12 flex items-center justify-center">
      <h2 class="text-2xl font-extrabold md:text-5xl">Latest Works</h2>
    </div>
    <div class="mb-12 grid grid-cols-1 gap-5 md:grid-cols-3">
      {% for last_project in last_projects %}
      <a
        href="{% url 'projects-detail' last_project.id %}"
        class="relative mx-auto block duration-100 ease-in hover:-translate-y-2"
      >
        <img src="{{ last_project.featured_image.url }}" alt="" width="370" />
        <div class="absolute left-5 bottom-5">
          <div class="mb-4 flex space-x-2">
            {% for tag in project.tags.all %}
            <div
              class="rounded-full bg-white px-2 py-1 text-sm font-semibold text-slate-900"
            >
              {{ tag }}
            </div>
            {% endfor %}
          </div>
          <h3 class="text-xl font-extrabold text-white md:text-4xl">
            {{ last_project.name }}
          </h3>
        </div>
      </a>
      {% endfor %}
    </div>
    <div class="flex items-center justify-center">
      <a
        href="{% url 'projects' %}"
        class="hover:bg-primary-700 rounded-md border border-slate-500 px-4 py-2 text-sm text-white duration-100 ease-in hover:border-transparent"
      >
        See more
      </a>
    </div>
  </div>
</section>
{% endblock content %}
